@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

:root{
    --red-accent-color: rgb(255,28,77);
    --main-background-color: #1f1f1f
}

@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:var(--main-background-color);
    color:white;
    font-family:"Poppins", sans-serif;
    
}

header{
    width:100%;
    height:auto;
    position: fixed;
    background: var(--main-background-color);
}

.nav-container, .main-content{
    padding:10px 10%;
}

.main-content{
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display:inline-block;
    list-style: none;
    margin:10px 20px;
}

nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

/* Creates bar under nav links */
nav ul li a::after{
    content: '';
    width:0;
    height:3px;
    background: var(--red-accent-color);
    position: absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}

/* Animation for bar appearing under links on hover */
nav ul li a:hover::after{
    width:100%;
}


#welcome-section{
    padding-top:68px;
    height:100vh;
    display: flex;
    align-items: center;
}

#welcome-text{
    width:50%;
}
#welcome-img{
    display: flex;
    width:50%;
    justify-content: center;
}

.header-text{
    font-size: 4em;
}

#welcome-section h2{
    font-size: 2em;
    color:var(--red-accent-color);
    font-family:"Nunito", sans-serif;
    font-style: italic;
}

#welcome-section img{
    width:100%;
    height:auto;
}

#about h1{
    margin: 0 auto 0 auto;
    font-size:3em;
}